/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*global style */

:root{
    --main-color: #24caac;
    --color1: #eaa023;
    --color2: #e91e63;
    --dark-800: #24292d;
    --dark-700: #2f363e;
    --white-900: #ffffff;
    --white-800: rgba(255,255,255,0);
    --shadow: 0 0 15px rgba(0,0,0,0.2);
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

::before,
::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.align-content-center{
    align-content: center;
}

.h-100{
    min-height: 100vh;
}
/* header */

.header{
    background-color: var(--dark-800);
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid var(--dark-800);
}
.header .logo{

    padding: 0 15px;
}

.header .logo a{
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    
}

.header .nav {
    
    padding: 0 15px;
}
.header .nav ul li {
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    font-size: 16px;
    color: white;
    display: block;
    padding: 10px 0;
    text-transform: capitalize;
    transition: all 0.5s ease;
}
.header .nav ul li a:hover{
    color: var(--main-color);
}

/*home section */

.home-section{
    background-color: var(--dark-800);
}

.home-section .h-100{
    padding: 120px 0;
}
.home-text{
    background-color: var(--color1);
}
.home-img{
    background-color: var(--color2);
}
.home-img-inner{
    max-width: 400px;
}