/*global style */

:root{
    --main-color: #24caac;
    --color1: #eaa023;
    --color2: #e91e63;
    --dark-800: #24292d;
    --dark-700: #2f363e;
    --white-900: #ffffff;
    --white-800: rgba(255,255,255,0);
    --shadow: 0 0 15px rgba(0,0,0,0.2);
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

::before,
::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container {
    max-width: 1170px;
    background-color: red;
    margin: auto;
}